@page "/"
<link rel="stylesheet" href="Home.css">
<PageTitle>Home</PageTitle>

<div class="playableSpace">
    <h1>Hello, world!</h1>
    <div class="dpad">
        <div class="left dButton" @onclick="()=>MoveLeft()"></div>
        <div class="up dButton" @onclick="()=>MoveUp()"></div>
        <div class="down dButton" @onclick="()=>MoveDown()"></div>
        <div class="right dButton" @onclick="()=>MoveRight()"></div>
    </div>
    <div style="position: absolute; top: @(WTopPosition)%; left: @(WLeftPosition)%;">
        <img src="/world.svg" />
    </div>
    <div style="position: absolute; top: @(ATopPosition)%; left: @(ALeftPosition)%;">
        <img src="/asteroid.svg" />
    </div>
</div>

@code {
    int WTopPosition = 50;
    int WLeftPosition = 20;
    int ATopPosition = 50;
    int ALeftPosition = 80;

    void MoveLeft()
    {
        WLeftPosition -= 10;
    }
    void MoveRight()
    {
        WLeftPosition += 10;
    }
    void MoveUp()
    {
        WTopPosition -= 10;
    }
    void MoveDown()
    {
        WTopPosition += 10;
    }
}
